
body{
  background-color: #BFC4B5;
  color: rgb(50, 50, 50);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: justify;
  text-decoration: none;
  scroll-behavior: smooth;
  font-weight: bolder;
  font-family: 'Roboto Mono', monospace;
}


.container{
  width: 1000px;
  margin: 100px auto;"
}


.card_main{
  border: 4px solid rgb(100, 100, 100);
  margin: 100px 0px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5)
}

#card_SNS{
  border: 4px solid rgb(100, 100, 100);
  margin: 100px 0px;
  padding: 50px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5)
}


h1{color: rgba(70,70,70);
  font-weight: bold;
  font-size: 40px;
  font-family: 'Lora', serif;;
  font-style: italic;
  text-align: center;

}


h2{color: rgb(100,100, 100);
  font-size: 30px;
  font-weight: bolder;
  font-family: 'lora', serif;
  text-decoration: underline solid;
}


strong {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #B563B0;
  text-shadow:1px 1px rgba(70, 70, 70, 0.5);
  text-decoration: underline solid;
  background: none;
}

.h2_strong{
  font-size: 30px;
}


a{font-weight: bolder;
  font-family: font-family: 'Roboto Mono', monospace;
  transition: color 0.3s ease;
}

a:link{
  color: rgb(20, 100, 150);
  text-decoration: none;
}


a:visited{
  color: rgb(20, 90,90);
}

 a:hover{
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  color: #D6BA87;
  background-color: gray;
  border-radius: 4px;
  padding: 5px;
  padding-top: 0px;
}


#profile_pic {
    object-fit: cover;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(70, 70, 70, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.campus_pic {
      width: 600px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    }


#link_SNS {
  display: inline;
  letter-spacing: 5px;
  padding: 0px;
  list-style: none;
  }

.btn_SNS{
  background-color: rgba(200, 220, 200, 0.6) ;
  border-radius: 4px;
}

#introduction img{
  margin-bottom: 60px;
}

dt{
  text-decoration: underline;
  margin: 10px 0px 10px 10px;
}

dd{
  display: inline;
  }

.dd_painting{
  margin: auto;
}

img{
  width: 400px;
  border-radius:4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
}

.painting_pic{
  width: 200px;

}

.pic_des{
  margin: -150px 0px 150px 450px
}


@media (max-width: 1200px){
  .container{
  width: 700px;
  margin: 100px auto;"
  }

  .card_main{
  border: 4px solid rgb(100, 100, 100);
  margin: 100px 0px;
  padding:50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5)
  }

 .pic_des{
    margin: -210px 0px 100px 400px;
    text-align: left;
  }

  img{
  width: 350px;
  border-radius:4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
  }

  .painting_pic{
    width: 130px;
  }

  dd{
    font-size: 15px;
  }

}


@media (max-width: 750px){
  .container{
  width: 400px;
  margin: 100px auto;"
  }

  .card_main{
  border: 4px solid rgb(100, 100, 100);
  margin: 100px 0px;
  padding:50px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5)
  }

 .pic_des{
    margin: 0px 0px 50px 0px;
    text-align: left;
  }

  img{
  width: 300px;
  border-radius:4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5)
  }

  .painting_pic{
    width: 141px;
  }

  .campus_pic {
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  #profile_pic{
    width: 300px;
    height: 300px;
  }

  strong{
    font-size: 15px;
  }

  dt{
    font-style: italic;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  dd{
    font-size: 13px;
    margin: 0px 0px 0px 0px;
  }

  .dd_painting{

  }

  .h2_strong{
    font-size: 17px;
  }

  p{
    font-size: 13px;
  }

}














